<h2>About Chisholm Tavern Brewing</h2>

<p>Chisholm Tavern Brewing began life as Friendship Brewing in April of 2012. Shortly thereafter, notice was received of possible trademark infringement, so the name was changed.</p>

<p>Chisholm Tavern was the first tavern opened in Knoxville (then James White’s Fort) by John D. Chisholm in 1792. A close friend of Governor William Blount, Chisholm’s Tavern stood near the governor’s home on Front Street. Although Chisholm disappeared in 1797 amongst political intrigue in London, England, his tavern and family remained in Knoxville. The tavern building survived until the mid-1960s, when it was demolished in support of Urban Renewal.
His offspring located in Arkansas and Indian Territory, now Oklahoma. Head Brewer, Steve Dedman and his wife Jennifer, moved to Knoxville from Oklahoma in 1997. John D. Chisholm’s grandson, Jesse, is very well-known in Oklahoma as one of the early pioneers of the territory. He is buried approximately 10 miles from Jennifer’s hometown, and his main trading post was located approximately 6 miles from Steve’s childhood home. The 1880s cattle trail that bears his name passed approximately halfway between the two hometowns on its way from the Texas ranches to the railheads in Kansas.</p>

<p>The ties between the two locations were too coincidental to ignore, and Chisholm Tavern became the new name for the brewery. This has actually been helpful in the notoriety of the nascent brewery, as long-time Knoxvillians have approached us to talk about the old tavern that they remember along Front Street prior to demolition to make way for Neyland Drive.</p>

{{outlet}}
