<ul>
<li>{{#link-to "brews"}}Brews{{/link-to}}</li>
<li>{{#link-to "about"}}About{{/link-to}}</li>
<li>{{#link-to "team"}}Team{{/link-to}}</li>
<li>{{#link-to "awards"}}Awards{{/link-to}}</li>
</ul>


<h2>Award Winning Brews On Tap</h2>

{{#each model as |brewOnTap|}}
  {{beer-list beer=brewOnTap}}
{{/each}}

{{outlet}}
